@import 'partials/mixins';
@import 'partials/utilities';
@import 'partials/generic';
@import 'partials/typography';
@import 'partials/forms';
@import 'partials/header';
@import 'partials/footer';

a.ct-button, .ct-button{
    @include button-properties;
}

.loadmore-button{
    display: flex;
    justify-content: center;
    margin-top: 80px;

    @include media-q(s-tablet){
        margin-top: 60px;
    }
}

a.readmore{
	font-weight: $font-weight-semi-bold;
	color: $c-yellow;
	display: inline-flex;
	align-items: center;

	span.arrow-wrap{
		width: 24px;
		height: 24px;
		left: 10px;
		transition: $transition;
		position: relative;

		rect, path{
			transition: $transition;
		}
	}

	&:hover{
		color: $c-main-content;
	
		span.arrow-wrap{
			left: 20px;
		}

		svg{
			rect{ fill: $c-main-content; }
			
			path{ fill: $c-yellow; }
		}
	}
}

svg.arrow-rect{
	cursor: pointer;
	z-index: 1;

	rect, path{
		transition: $transition;
	}

	&:hover{
		rect{
			fill: $c-main-content;
		}

		path{
			fill: $c-yellow;
		}
	}
}

.slick-slider svg.arrow-rect{
	position: absolute;
}

.slick-list{
	transition: $transition;
}

.container{
	max-width: 1200px;
	width: 100%;
	margin: 0 auto;
	padding-right: 15px;
	padding-left: 15px;
}

.wp-block-cover__inner-container{
	max-width: 1170px;
	width: 100%;
	margin: 0 auto;
}

.head{
	max-width: 830px;
	margin: 0 auto;
	padding-right: 15px;
	padding-left: 15px;

	h2{
		margin-bottom: 18px;
	}
}

.wp-block-columns{
	margin: 0;
}

.has-pointer-below{
	position: relative;

	& + div > div:first-child{
		margin-top: 30px;
	}

    &:after{
        content: "";
        height: 30px;
        position: absolute;
        right: 0;
        left: 0;
        bottom: -29px;
        background-color: inherit;
        clip-path: polygon(0 0, 100% 0, 50% 100%);
        z-index: 2;

        @include media-q(tablet){
            height: 20px;
            bottom: -19px;
        }
    }
}

.action-bar{
	padding: 30px 0 !important;
	margin: 0 auto;

	.wp-block-columns{
		align-items: center;

		@include media-q(tablet){
			flex-direction: column;
			
			.wp-block-column{
				text-align: center;
			}
		}
	}

	.wp-block-column:not(:first-child) {
    	margin-left: 0 !important;

    	@include media-q(tablet, min){
    		display: flex;
    		justify-content: flex-end;
    	}

    	@include media-q(tablet){
    		margin-top: 20px;
    	}
	}

	h2{
		font-size: 30px;
		font-weight: $font-weight-normal;
		line-height: 34px;
		margin-bottom: 10px;
	}

	p{
		font-family: $font-alt;
	}
}