@import '../partials/mixins';

.acf-block__testimonials{
	display: flex;
	justify-content: space-between;
	align-items: center;
	max-width: 1000px;
	margin-right: auto;
	margin-left: auto;

	@include media-q(tablet){
		flex-direction: column;
	}

	.testimonial-slider:not(.slick-initialized) .testimonial-wrapper:not(:first-child){
		display: none;
	}

    ul.slick-dots{
		@include ul-properties();
		display: flex !important;
		justify-content: center;

		> li{
			line-height: 0;

			& + li{
				margin-left: 7px;
			}

			&:only-child{
				display: none;
			}

			button{
				width: 8px;
				height: 8px;
				background-color: #DBDBDB;
				border: 0;
				border-radius: 50%;
    			outline: none;
    			font-size: 0;
    			padding: 0;
    			cursor: pointer;
    			transition: $transition;
			}

			&.slick-active button{
				background-color: $c-yellow;
				width: 10px; height: 10px;
			}	
		}
	}

	.slider-title{
		h2{
			position: relative;
			margin-top: 40px;

			&:after{
				content: url('../../images/icon-quote.svg');
				position: absolute;
				top: -50px;
				left: calc(50% - 16px);
				width: 32px; height: 23px;
			}

			@include media-q(tablet){
				text-align: center;
			}

			@include media-q(tablet, min){
				font-size: 36px;
				line-height: 48px
			}
		}	
	}

    .testimonial-slider{
    	max-width: 600px;

    	@include media-q(s-tablet){
    		max-width: 560px;
    	}

    	@include media-q(l-phone){
    		max-width: 390px;
    	}

    	@include media-q(phone){
    		max-width: 100%;
    	}

    	ul.slick-dots{
    		margin-top: 35px;
    	}

		.testimonial-wrapper{
			padding: 0 10px;
	
			> p{
				font-size: map-get($font-size-map, xl);
				line-height: 36px;
				margin-bottom: 30px;

				@include media-q(tablet){
					text-align: center;
				}

				@include media-q(l-phone){
					font-size: map-get($font-size-map, md);
					line-height: 30px;
				}
			}	
		}
	
		.client-info{
			display: flex;
			align-items: flex-end;

			@include media-q(l-phone, min){
	    		justify-content: space-between;
			}

			@include media-q(l-phone){
				flex-direction: column;
				align-items: center;
			}
		}
	
		.client{
			display: flex;
			align-items: center;

			@include media-q(l-phone){
				flex-direction: column;
				justify-content: center;
				text-align: center;
			}
	
			img{
				@include media-q(l-phone, min){
					margin-right: 20px;
				}

				@include media-q(l-phone){
					margin-bottom: 15px;
				}
			}
	
			h6{
				font-weight: $font-weight-semi-bold;
				line-height: 40px;
				margin: 0;
			}
		}
	
		a.case-study-link{
			font-size: 14px;
			font-weight: $font-weight-semi-bold;
			color: $c-yellow;
			display: inline-flex;
			align-items: center;
			margin-right: 10px;
			margin-bottom: 5px;

			@include media-q(l-phone){
				margin-top: 15px;
			}
	
			&:hover{
				color: $c-main-content;
	
				svg.arrow-rect{
					rect{ fill: $c-main-content; }
				
					path{ fill: $c-yellow; }
				}

				span.arrow-wrap{
					left: 20px;
				}

				svg{
					rect{ fill: $c-main-content; }
					
					path{ fill: $c-yellow; }
				}
			}

			span.arrow-wrap{
				position: relative;
				left: 10px;
				width: 24px; height: 24px;
				transition: $transition;
			}
		}
    }
}